<div class="knowledge-base-title">
  {{d-button label="topic.print.title"
    title="topic.print.help"
    icon="print"
    action="print"
    class="print"}}
  <a {{action 'goToTopic'}}><h2>{{topic.title}}</h2></a>
</div>
<div class="knowledge-base-post">
  {{{post.cooked}}}
</div>
