<div class="knowledge-base-title">
  <h2>{{siteSettings.knowledge_base_title}}</h2>
  <div>{{siteSettings.knowledge_base_description}}</div>
</div>

<div class="knowledge-base">
  <div class="knowledge-base-nav">
    {{#each navList as |item|}}
      {{knowledge-base-topic-list category=item.category topics=item.topics currentItemId=currentItemId}}
    {{/each}}
  </div>

  <div class="knowledge-base-content">
    {{outlet}}
  </div>
</div>
