.knowledge-base-title {
  margin-bottom: 10px;
}

.knowledge-base {
  padding-bottom: 60px;
}

.knowledge-base-nav {
  width: 250px;
  float: left;
  background-color: $primary-very-low;
  border: 1px solid $primary-low;
}

.knowledge-base-topic-list {
  a {
    color: $primary;
  }

  .title {
    background-color: $primary-low;
    border: 1px solid $primary-low;

    a {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: inline-block;
      box-sizing: border-box;
      font-size: 1.3em;
    }
  }

  .topics {
    height: 0;
    overflow: hidden;

    &.visible {
      height: auto;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        a {
          display: inline-block;
          box-sizing: border-box;
          padding: 10px;
        }

        &.active {
          background-color: $tertiary;

          a {
            color: $secondary;
          }
        }
      }
    }
  }
}

.knowledge-base-content {
  padding: 0 20px;
  overflow: hidden;
}

.knowledge-base-title {
  margin-bottom: 10px;

  h2 {
    margin-bottom: 0;
  }
}
